@model IEnumerable<Employee>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1 class=" text-center">All employees</h1>
    <a asp-controller="Employees" asp-action="Create" class="btn btn-success">Creat New Employee</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(emp=> emp.Id)</th>
                <th scope="col">@Html.DisplayNameFor(emp => emp.Name)</th>
                <th scope="col">@Html.DisplayNameFor(emp => emp.Email)</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>
                        <a class="btn btn-success " asp-controller="Employees" asp-action="Details" asp-route-id="@item.Id" >Details</a>
                        <a class="btn btn-warning " asp-controller="Employees" asp-action="Update" asp-route-id="@item.Id" >Update</a>
                        <a class="btn btn-danger " asp-controller="Employees" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
